{% if site.size.post.excerpt %}
    {% assign size = site.size.post.excerpt %}
{% else %}
    {% assign size = 300 %}
{% endif %}
{% if site.size.post.title %}
    {% assign sizetitle = site.size.post.title %}
{% else %}
    {% assign sizetitle = 60 %}
{% endif %}
<!-- .tile -->
<article class="tile" itemscope itemtype="http://schema.org/Article">
  <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title | strip_html | replace: "\"" "´" | truncate: sizetitle }}" class="post-teaser">
{% if post.image %}
  {% if post.image.teaser %}
    {% if post.image.teaser contains 'http://' or post.image.teaser contains 'https://' %}
    <img src="{{ post.image.teaser }}" alt="teaser" itemprop="image">
    {% else %}
    <img src="{{ site.baseurl }}/images/{{ post.image.teaser }}" alt="teaser" itemprop="image">
    {% endif %}
  {% elsif post.image.category %}
    {% assign categoryid = post.categories | first | cgi_escape %}
    {% assign postcat = site.data.categories[categoryid] %}
  	<img src="{{ site.baseurl }}/images/{{ postcat.image.teaser }}" alt="teaser" itemprop="image" >
    {% else %}
    <img src="{{ site.baseurl }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">
    {% endif %}
{% else %}
    <img src="{{ site.baseurl }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">
{% endif %}
  </a>
  {% if post.date %}<p class="entry-date date published"><time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>{% endif %}
  <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | truncate: sizetitle }}</a></h2>
  <p class="post-excerpt" itemprop="description">{{ post.excerpt | strip_html | truncate: size }}</p>
</article>
<!-- /.tile -->
