<!-- http://htmlpreview.github.io/?https://github.com/OwlFonk/OwlCarousel/blob/master/index.html -->
<div class="col-md-6">
  <div class="testimonial-carousel">
    <div id="testimonial-slider" class="owl-carousel">
    {% for t in site.data.testimonial %}
      <div>
          <ion-icon name="ribbon"></ion-icon>
          <p><a href="{{ /testimonial.html#t.name | downcase | strip | replace " ", "_" | url_encode }}">{{ t.testimonial | truncate: site.testimonial.truncate }}</a></p>
          <div class="user">
            <img src="/images/perfil/{{ t.image }}" alt="{{ t.name }}">
            <p><span>{{ t.name }}</span>{{ t.role }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
   </div>
</div>