<div class="col-md-6">
        <div class="block">
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="ion-ios-albums-outline"></i><br />
                <span>Mais de </span>
                <h4 class="counter">1,543,522,567</h4>
                <span>Linhas de Código</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="ion-ios-flask-outline"></i><br />
                <span>Mais de </span>
                <h4 class="counter">143,452</h4>
                <span>chicaras de café</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="ion-ios-timer-outline"></i><br />
                <span>Mais de </span>
                <h4 class="counter">13,453</h4>
                <span>de horas de sonos pedidas</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="ion-ios-compose-outline"></i><br />
                <span>Mais de </span>
                <h4 class="counter">100</h4>
                <span>turmas em nossos cursos</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
