---
layout: default
ads:
  style: horizontal
---
 <section id="main" role="main">
	<div class="wrap">
	{% include advertising.html %}
		<div class="archive-wrap">
			<div class="page-content">
				<div class="section-title">
					<h2><span>{{ page.type }} => '{{ page.title }}'</span></h2>
			</div>
			<div class="masonrygrid row listrecent">
					{%- for post in page.posts -%}
					{%- include grids/post-grid.html -%}
					{%- endfor -%}
			</div>
			</div><!-- /.page-content -->
		</div class="archive-wrap"><!-- /.archive-wrap -->
	</div><!-- /.wrap -->
</section><!-- /#main -->
