---
layout: default
ads:
  style: vertical
---
<section id="main" role="main">			
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% if page.categories %}{% include breadcrumbs.html %}{% endif %}
		<div class="inner-wrap">
			<nav class="toc"></nav><!-- /.toc -->
			<div id="content" class="page-content" itemprop="articleBody">
{% if page.tagcloud  %}
			<aside id="tagcloud"></aside>
			{% include gadget/d3-tagcloud.html container="tagcloud" height=250 width=600 %}
{% endif %}
				 
				{{ content }}
				<hr />
				<footer class="page-footer">
					{% if page.categories %}
						{% include paginator/article.html %}
						{% include page-author.html %}
					{% endif %}
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
					{% if page.amazon.productcloud == true %}{% include gadget/amazon/product-cloud-gadget.html %}{% endif %}
					<!-- start if donate -->
					{% if page.donate.show != false %}{% include donate/donate.html %}{% endif %}
					<!-- end if donate -->
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% include advertising.html %}
		{% include resolvermaps.html %}
	</article><!-- ./wrap -->
</section><!-- /#main -->
