---
---
<!DOCTYPE html 
      PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--[if lt IE9] --><html
      xmlns="http://www.w3.org/1999/xhtml" 
      xml:lang="en-US"
      lang="en-US"
      class="oldie"><!--{endif]-->
<!--[if lt IE9] --><html
      xmlns="http://www.w3.org/1999/xhtml" 
      xml:lang="en-US"
      lang="en-US"
<!--[endif]-->
  {% include page/head.html %}
  <body>
    {% if site.facebook.app_id %}
    {% include facebook/basescript.js %}
    {% endif %}

    {% include page/header.html %}

    {% include debug/debug_output_url.html %}
    <div id="page-wrapper">
{{ content }}

    {% include page/footer.html %}
</div>
    {% include google/googleanalytics.html %}
    {% include google/plusone.html %}

    {% if page.uservoice.enable or site.uservoice.enableall %}
        {% include uservoice.html %}
    {% endif %}

    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        <script src='/js/{{ js_file }}.js' type="text/javascript"></script>
      {% endfor %}
    {% endif %}
    <script type="text/javascript">
        pagePosCustonFuntions = function(){
        {% for js_function in page.custom_js.functions.pos %}
          {{ js_function }};
        {% endfor %}
    };
    </script>
    <script src="{{ site.url }}/js/main.js"></script>
  </body>
</html>
