---
---
<!--[if lt IE9]--><html class="oldie"><!--{endif]-->
<!--[if lt IE8]--><html ><!--[endif]-->
  <head>
    {% include page/head.html %}
  </head>
  <body>
    {% if site.facebook.appid %}
    {% include facebook/basescript.js %}
    {% endif %}

    {% include page/header.html %}

    {% include debug/debug_output_url.html %}
    <div id="page-wrapper">
{{ content }}

    {% include page/footer.html %}
</div>
    {% include google/googleanalytics.html %}
    {% include google/plusone.html %}

    {% if page.uservoice.enable or site.uservoice.enableall %}
        {% include uservoice.html %}
    {% endif %}

    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        <script src='/js/{{ js_file }}.js' type="text/javascript"></script>
      {% endfor %}
    {% endif %}
    <script type="text/javascript">
        pagePosCustonFuntions = function(){
        {% for js_function in page.custom_js.functions.pos %}
          {{ js_function }};
        {% endfor %}
    };
    </script>
    <script src="{{ site.url }}/js/main.js"></script>
  </body>
</html>
