---
layout: default
---
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
{{ content }}
        </div>
      </div><!-- .col-md-7 close -->
      {% if page.image.teaser != false %}
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="/images/{{ page.image.teaser | default: 'wrapper-img.png' }}" alt="Wrapper Img">
        </div>
      </div><!-- .col-md-5 close -->
      {% endif %}
    </div>
  </div>
</section>
