<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Meu Objetivo é o sucesso do seu projeto.</h2>
          <p>Conheça meu método de trabalho, uso as ferramentas mais modernas e conceituadas da atualidade,
          para que você possa acompanhar cada passo do meu trabalho e interagirmos de forma a atender todas
          as demandas de seu projeto. </p>
          <a class="btn btn-default btn-call-to-action" href="mailto:consultoria@carlosdelfino.eti.br" >Me conte sobre seu projeto</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section call to action -->
