<!-- start section feature -->
<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>Grandes projetos</h2>
        <p>Grandes Projetos, não são projetos de grande valor financeiro ou em quantidade
        ou complexidade tecnológica, mas sim aqueles que impactam nosso meio a nossa sociedade.</p>
        <p>Gosto de encarar projetos que quebram paradigmas e trazem novas possibilidades.
        Projetos que impactam o meio social em que vivemos, transformando vidas e melhorando
        a qualidade de vida de cada um envolvido e transformando a comunidade onde será aplicado</p>
        <a href="/works" class="btn btn-view-works">Visualizar Trabalhos</a>
      </div>
    </div>
  </div>
</section>
<!-- end section feature -->
