<!-- Start section Intro -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Um pouco sobre mim</h2>
            <p>Posso dizer que, como muitos de meus colegas, atuo no mercado de TI toda a minha vida, já mais de 25 anos de experiência profissional, onde atuei e atuo com a TICs de alguma forma.</p>
          </div>
          <p>Já estou chegando nos 50 e sempre me atualizando, meu primeiro contato foi aos 13 anos com a eletrônica e posteriormente com a computação com um Apple II no Colégio Pompeia, desde então venho buscando me aperfeiçoar e adquirir mais e mais conhecimentos. Atualmente 100% dedicado ao estudo e aperfeiçoamento constante no desenvolvimento de soluções para embarcados, seja em wearables, IoT e com um forte desejo em desenvolver soluções ligadas a Internet Planetária, em especial como protocolo DTN.</p>
        <a href="/sobre_mim">Clique aqui para conhecer mais.</a>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="/images/wrapper-img.png" alt="Wrapper Image">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
<!-- end section intro -->
