<!-- Start section Intro -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Um pouco sobre mim</h2>
            <p>Posso dizer que, como muitos de meus colegas, atuo no mercado de TI toda a minha vida, já mais de 30 anos de experiência profissional, onde atuei e atuo com a TICs de alguma forma.</p>
          </div>
          <p>Já passei dos meus 50 e sempre me atualizando, meu primeiro contato foi aos 13 anos com a eletrônica e posteriormente com a computação com um Apple II no Colégio Pompeia em Belo Horizonte/MG, desde então venho buscando me aperfeiçoar e adquirir mais e mais conhecimentos. Já me dediquei ao estudo e desenvolvimento de soluções para embarcados, seja em wearables, IoT e por um pequeno momento dediquei um pouco aos estudos de soluções ligadas a Internet Planetária, em especial como protocolo DTN. Em resumo, me dediquei dos 40 aos 50 com Arduino, e suas variantes, mas com depois dos 45 fui me afastando até parar com todos os projetos.</p>
        <a href="/sobre_mim">Clique aqui para conhecer mais.</a>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="/images/wrapper-img.png" alt="Wrapper Image">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
<!-- end section intro -->
