<!-- start section wellcome -->
<section id="welcome" class="center-block text-center">
<p>Olá, seja bem vindo!</p>
<p>Estou retomando os projetos relativos a treinamentos e o <b>Curso Arduino Minas</b> agora <b>Curso Maker</b> embreve atualizarei logo marcas, dominios e outras informações relevantes, fiquem atentos, estarei postando informações aqui.</p>
<p>O mais importante agora, é que tenho feito lives quase que diáriamente, falando do projeto <b>RISCuinho</b> (Risquinho) um microcontrolador que esotu desenvolvendo em FPGA para meus cursos, ele será usado para ministrar o curso de FPGA, assembly com RISC-V e C/C++ e também conceitos avançados de Arduino e FreeRTOS com DuinOS.</p>
{% include twitch/video.html channel="carlosdelfino_br" width="75%" height="300" %}
</section>
<!-- end welcome section -->
