<?xml version='1.0' encoding='utf-8'?>
<!-- start section wellcome -->
<section id="wellcome">
    <header style="text-align: center;">
        <h2>Seja Bem-Vindo!</h2>
    </header>
    <p style="text-align:center">
        <strong>Pedimos desculpa a todos por nossa ausência e demora em algumas respostas.</strong><br/>
Estamos tentando solucionar os problemas que estão impedindo nosso trabalho de prosseguir adequadamente, em  caso de dúvida entrem em contato pelo e-mail consultoria@carloselfino.eti.br.<br/>
<strong>Obrigado pela Compreenção.</strong>
    </p>
</section>
<section id="wellcome">
    <header style="text-align: center;">
        <h2>Seja Bem-Vindo!</h2>
    </header>
    <p style="text-align:center">
        <strong>Pedimos desculpa a todos por nossa ausência e demora em algumas respostas.</strong><br/>
Estamos tentando solucionar os problemas que estão impedindo nosso trabalho de prosseguir adequadamente, em  caso de dúvida entrem em contato pelo e-mail consultoria@carloselfino.eti.br.<br/>
<strong>Obrigado pela Compreenção.</strong>
    </p>
</section>
<!-- end welcome section --> 
