<?xml version='1.0' encoding='utf-8'?>
<!-- start section wellcome -->
<section id="wellcome">
  <header style="text-align: center;">
    <h2>
      Seja Bem-Vindo! <br />
      Em breve FPGA para Makers!
    </h2>
  </header>
  <p style="text-align:center">
    <strong>
      O poder dos Arrays de Células Lógicas reprogramaveis em seus projetos makers.
    </strong>
    <br />
    <strong>Conteúdo previsto:</strong> - Apresentado o FPGA - A Linguagem VHDL >O paralelismo real em Hardwares com
    FPGA - Questões de Segurança - Protocolos principais, Serial, I2C, OneWire - Sensores normalmente usados no Arduino
    - Displays do tipo LCD - WiFI e GSM - Meu próprio processador? (#TopHardAdvanced!!!)
  </p>
  <hr />
  <a href="https://www.patreon.com/bePatron?u=12060988" data-patreon-widget-type="become-patron-button"
    >Become a Patron!</a
  ><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
</section>
<!-- end welcome section -->
